<!-- BEGIN: aside -->
<aside>
    <div class="aside_block">
        <a href="index.php?act=danghot"><h4>ĐANG HOT</h4></a>
        <ul>
            <li>
            <!-- BEGIN: dang_hot1 -->
                <div class="aside_block_sp">
                    <a href="index.php?act=chitiet_sp&id_sp={id_sp}"><img src="img/dienthoai/{anh_sp}"></a>
                    <h5>{ten_sp}</h5>
                </div>
           	<!-- END: dang_hot1 -->
            </li>
            <li>
                <!-- BEGIN: dang_hot2 -->
                <div class="aside_block_sp">
                    <a href="index.php?act=chitiet_sp&id_sp={id_sp}"><img src="img/dienthoai/{anh_sp}"></a>
                    <h5>{ten_sp}</h5>
                </div>
           	<!-- END: dang_hot2 -->
            </li>
        </ul>
    </div><br>
    <div class="aside_block">
        <a href="index.php?act=hangmoive"><h4>HÀNG MỚI VỀ</h4></a>
        <ul>
            <li>
            <!-- BEGIN: hang_moi_ve1 -->
                <div class="aside_block_sp">
                    <a href="index.php?act=chitiet_sp&id_sp={id_sp}"><img src="img/dienthoai/{anh_sp}"></a>
                    <h5>{ten_sp}</h5>
                </div>
           	<!-- END: hang_moi_ve1 -->
            </li>
            <li>
                <!-- BEGIN: hang_moi_ve2 -->
                <div class="aside_block_sp">
                    <a href="index.php?act=chitiet_sp&id_sp={id_sp}"><img src="img/dienthoai/{anh_sp}"></a>
                    <h5>{ten_sp}</h5>
                </div>
           	<!-- END: hang_moi_ve2 -->
            </li>
        </ul>
    </div><br>
    <div class="aside_block">
        <a href="index.php?act=khuyenmai"><h4>SẢN PHẨM KHUYỄN MÃI</h4></a>
        <ul>
            <li>
            <!-- BEGIN: khuyen_mai1 -->
                <div class="aside_block_sp">
                    <a href="index.php?act=chitiet_sp&id_sp={id_sp}"><img src="img/dienthoai/{anh_sp}"></a>
                    <h5>{ten_sp}</h5>
                </div>
           	<!-- END: khuyen_mai1 -->
            </li>
            <li>
                <!-- BEGIN: khuyen_mai2 -->
                <div class="aside_block_sp">
                    <a href="index.php?act=chitiet_sp&id_sp={id_sp}"><img src="img/dienthoai/{anh_sp}"></a>
                    <h5>{ten_sp}</h5>
                </div>
           	<!-- END: khuyen_mai2 -->
            </li>
        </ul>
    </div><br>
    <div class="aside_block">
        <a href="#"><h4>DỊCH VỤ</h4></a>
        <p><strong><em>1.</em></strong><strong>Mở mạng, nâng cấp </strong>
            iPhone bằng phần mềm, không bung máy!</p>
        <p><strong><em>2.</em></strong><strong>Mở mạng </strong>
            (unlock) cho nhiều loại máy đem từ nước ngoài về bị khóa</p>
        <p><strong><em>3.</em></strong><strong>Sửa chữa</strong> 
            tất cả các loại điện thoại di động</p>
        <p><strong><em>4.</em></strong><strong>Nạp tiếng Việt</strong> 
            cho nhiều loại máy chưa có ngôn ngữ tiếng Việt...</p>
        <p><strong><em>5.</em></strong><strong>Cài lại hệ điều hành</strong> 
            cho nhiều máy bị lỗi phần mềm, lỗi hệ điều hành...</p>
        <p><strong><em>6.</em></strong><strong>Nâng cấp phần mềm, nâng cấp Firmware</strong> 
            mới cho ĐTDĐ</p>
        <p><span style="text-decoration: underline;"><strong>Liên hệ:</strong></span> 
            Nhóm đoàn kết-CNTT Đại Học Thủy Lợi</p>
    </div>
</aside>
<!-- END: aside -->