<!-- BEGIN: chitiet_sp -->
	<div class="content_main_block">
    	<div class="top_ctsp">
        <h3>THÔNG TIN CHI TIẾT</h3>
           	<div class="top_ctsp_left">
        		<h3>{ten_sp}</h3>
            	<img src="img/dienthoai/{anh_sp}">
                <h4>{gia_sp}</h4>
                <p>Hàng chính hãng, giá đã bao gồm 10% VAT</p>
                <button onclick="mo();">Mua Hàng</button>
            </div>
            <div class="top_ctsp_right">
            	<h4>THÔNG SỐ CƠ BẢN</h4>
                <div class="rows_ctsp">
                <label>Màn hình</label><p>{kich_thuoc_mh}</p>
                </div>
                <div class="rows_ctsp">
                <label>CPU</label><p>{bo_xu_ly}</p>
                </div>
                <div class="rows_ctsp">
                <label>Ram</label><p>{ram} RAM</p>
                </div>
                <div class="rows_ctsp">
                <label>Hệ điều hành</label><p>{he_dieu_hanh}</p>
                </div>
                <div class="rows_ctsp">
                <label>Camera chính</label><p>{camera_chinh}</p>
                </div>
                <div class="rows_ctsp">
                <label>Camera phụ</label><p>{camera_phu}</p>
                </div>
                <div class="rows_ctsp">
                <label>Bộ nhớ trong</label><p>{bo_nho}</p>
                </div>
                <div class="rows_ctsp">
                <label>Pin</label><p>{loai_pin}</p>
                </div>
            </div>
        </div>
        
        
        <div class="thong_so">
        <table>
            <tr>
                <th colspan="2">Thông tin chung</th>
            </tr>
            <tr>
                <td class="title">Mạng 2G</td>
                <td>{mang_2g}</td>
            </tr>
            <tr>
                <td class="title">Mạng 3G</td>
                <td>{mang_3g}</td>
            </tr>
            <tr>
                <td class="title">Ra mắt</td>
                <td>{ra_mat}</td>
            </tr>
            <tr>
                <td class="title">Ngày có hàng</td>
                <td>{co_hang}</td>
            </tr>
                                                    
            <tr>
                <th colspan="2">Kích thước</th>
            </tr>
            <tr>
                <td class="title">Kích thước</td>
                <td>{kich_thuoc}</td>
            </tr>
            <tr>
                <td class="title">Trọng lượng</td>
                <td>{trong_luong}</td>
            </tr>                            
            <tr>
                <th colspan="2">Hiển thị</th>
            </tr>
            <tr>
                <td class="title">Loại</td>
                <td>{loai_mh}</td>
            </tr>
            <tr>
                <td class="title">Kích thước</td>
                <td>{kich_thuoc_mh}</td>
            </tr>
            <tr>
                <td class="title">&nbsp;</td>
                <td>{khac_mh}
                </td>
            </tr>       
                                               
            <tr>
                <th colspan="2">Âm thanh</th>
            </tr>
            <tr>
                <td class="title">Kiểu chuông</td>
                <td>{kieu_chuong}</td>
            </tr>
            <tr>
                <td class="title">Ngõ ra audio 3.5mm</td>
                <td>{jack35mm}</td>
            </tr>       
                                                              
            <tr>
                <th colspan="2">Bộ nhớ</th>
            </tr>
            <tr>
                <td class="title">Danh bạ</td>
                <td>{danh_ba}</td>
            </tr>
            <tr>
                <td class="title">Các số đã gọi</td>
                <td>{nhat_ky}</td>
            </tr>
            <tr>
                <td class="title">Bộ nhớ trong</td>
                <td>{bo_nho}</td>
            </tr>
            <tr>
                <td class="title">Ram</td>
                <td>{ram}</td>
            </tr>
            <tr>
                <td class="title">Khe cắm thẻ nhớ</td>
                <td>{the_nho}</td>
            </tr>
            <tr>
                <th colspan="2">Truyền dữ liệu</th>
            </tr>
            <tr>
                <td class="title">GPRS</td>
                <td>{gprs}</td>
            </tr>
            <tr>
                <td class="title">EDGE</td>
                <td>{edge}</td>
            </tr>      
                
            <tr>
                <td class="title">Tốc độ 3G</td>
                <td>{3g}</td>
            </tr>
            <tr>
                <td class="title">NFC</td>
                <td>{nfc}</td>
            </tr>
            <tr>
                <td class="title">WLAN</td>
                <td>{wlan}</td>
            </tr>
            <tr>
                <td class="title">Bluetooth</td>
                <td>{bluetooth}</td>
            </tr>
            <tr>
                <td class="title">Hồng ngoại</td>
                <td>{hong_ngoai}</td>
            </tr>
            <tr>
                <td class="title">USB</td>
                <td>{usb}</td>
            </tr>
            <tr>
                <th colspan="2">Chụp ảnh</th>
            </tr>
            <tr>
                <td class="title">Camera chính</td>
                <td>{camera_chinh}</td>
            </tr>
            <tr>
                <td class="title">Quay phim</td>
                <td>{quay_phim}</td>
            </tr>
            <tr>
                <td class="title">Camera phụ</td>
                <td>{camera_phu}</td>
            </tr>
            <tr>
                <td class="title">Đặc điểm</td>
                <td>{dac_diem_camera}</td>
            </tr> 
            
            <tr>
                <th colspan="2">Đặc điểm</th>
            </tr>
            <tr>
                <td class="title">Hệ điều hành</td>
                <td>{he_dieu_hanh}</td>
            </tr>
            <tr>
                <td class="title">Bộ xử lý</td>
                <td>{bo_xu_ly}</td>
            </tr>
            <tr>
                <td class="title">Chipset</td>
                <td>{chipset}</td>
            </tr>
            <tr>
                <td class="title">Tin nhắn</td>
                <td>{tin_nhan}</td>
            </tr>
            <tr>
                <td class="title">Trình duyệt</td>
                <td>{trinh_duyet}</td>
            </tr>
            <tr>
                <td class="title">Radio</td>
                <td>{radio}</td>
            </tr>  
               
            <tr>
                <td class="title">Trò chơi</td>
                <td>{tro_choi}</td>
            </tr>
                     
            <tr>
                <td class="title">Màu sắc</td>
                <td>{mau_sac}</td>
            </tr>
            <tr>
                <td class="title">Ngôn ngữ</td>
                <td>{ngon_ngu}</td>
            </tr>
            <tr>
                <td class="title">Định vị toàn cầu</td>
                <td>{dinh_vi}</td>
            </tr>
            <tr>
                <td class="title">Java</td>
                <td>{java}</td>
            </tr>      
            <tr>
                <td class="title">&nbsp;</td>
                <td>{khac_dd}</td>
            </tr>
            
            <tr>
                <th colspan="2">Pin</th>
            </tr>
            <tr>
                <td class="title">Pin chuẩn</td>
                <td>{loai_pin}</td>
            </tr>
            <tr>
                <td class="title">Chờ</td>
                <td>{time_cho}</td>
            </tr>
            <tr>
                <td class="title">Đàm thoại</td>
                <td>{time_goi}</td>
            </tr>  
     	</table>                                        
    </div>
    <div id="mua_hang">
        <form method="post" action="index.php?mh=sp" onsubmit="return check();" name="mua_hang">
        	<div class="close"><p onclick="dong();"></p></div>
        	<h3>MUA HÀNG</h3>
            <i>Vui lòng cung cấp một số thông tin giao dịch, chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhât</i>
            <input type="text" name="ho_ten" placeholder="Nhập vào tên của bạn">
            <input type="text" name="sdt" placeholder="Số điện thoại liên hệ">
            <input type="text" name="dia_chi_nhan_hang" placeholder="Địa chỉ nhận hàng">
            <input type="text" name="ghi_chu" placeholder="Ghi chú khác của bạn">
            <input type="hidden" name="id_sp" value="{id_sp}">
            <input type="hidden" name="ten_sp" value="{ten_sp}">
            <input type="hidden" name="id_tbl" value="{id_tbl}">
            <input type="submit" name="dat_mua" value="Đặt mua ngay">
        </form>
    </div>
<script language="javascript">
	function mo(){
		var muahang = document.getElementById("mua_hang");
		muahang.style.display="block";
	}
	function dong(){
		var muahang = document.getElementById("mua_hang");
		muahang.style.display="none";
	}
	function check(){
		var hoten = document.mua_hang.ho_ten;
		var sdt = document.mua_hang.sdt;
		var dia_chi = document.mua_hang.dia_chi_nhan_hang;
		if( (hoten.value=="") || (sdt.value=="") || (dia_chi.value=="") ){
			alert("Bạn chưa hoàn thành thông tin");
			return false;
		}
		else{
			alert("Đăng kí mua hàng thành công");
			return true;
		}
	}
</script>

<!-- END: chitiet_sp -->