<!-- BEGIN: footer -->
	<footer>
    	<div class="div1">
        	<a href="index.php"><img src="img/logo_white.png"></a>
            <div class="div2">
            	Công ty TNHH Công nghệ Di động Mai Nguyên - 27 Nguyễn Bỉnh Khiêm, Q.1, TP.HCM<br>
                ĐT: (08) 38.207.567 - Email: contact@mainguyen.vn<br>
                Giấy phép số 79/GP-ICP-STTTT<br>
                Copyrights © 2012 MaiNguyen.vn. All Rights Reserved<br>
            </div>
            <div class="div3">
            	<h3>HỆ THỐNG CỬA HÀNG</h3>
                <ul>
                	<li>144 Võ Thị Sáu, P.8, Q.3, TP.HCM - ĐT: (08) 38 208 222 - 38 209 222</li>
                    <li>47 Bà Huyện Thanh Quan, Q.3, TP.HCM - ĐT: (08) 39.30.47.47 - 360.176.47</li>
                    <li>157 Nguyễn Văn Trỗi, Q.Phú Nhuận, TP.HCM - ĐT: (08) 39.97.99.00 - 39.97.98.35</li>
                    <li>27 Nguyễn Bỉnh Khiêm, Q.1, TP.HCM - ĐT: (08) 39.101.227 - 39.100.327</li>
                    <li>HARMAN STORE - 157 Nguyễn Văn Trỗi, Phú Nhuận - ĐT: (08) 39.97.99.00 - 39.97.98.35</li>
                </ul>
            </div>
        </div>
        <div class="div4">
        <h3 style="font-size:12px;">Thực hiện: Nhóm đoàn kết-CNTT Đại Học Thủy Lợi</i></h3>
        </div>
    </footer>
<!-- END: footer -->