<!-- BEGIN: header -->
<header>
            <div class="top_header">
            	<div class="logo">
                	<a href="index.php">
                    	<img src="img/giaodien.jpg">
                    </a>
                </div>
                <div class="search">
                    <form method="get" action="" name="search">
                    	<input type="text" name="search" placeholder="Bạn cần tìm sản phẩm nào?" >
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
            <nav>
            	<ul>
                	<li class="home_nav">
                    	<a href="index.php"><img src="img/home_p.png"></a>
                    </li>
                    <li>
                    	<a href="index.php?act=dt"><h3>ĐIỆN THOẠI</h3></a>
                        <div class="home_nav_col">
                        	<div class="home_nav_col_sub">
                                <ul>
                                <!-- BEGIN: ds1_nsx -->
                                    <li><a href="index.php?act=dt&id_nsx={id_nsx}">{ten_nsx}</a></li>
                               	<!-- END: ds1_nsx -->
                                </ul>
                            </div>
                            <div class="home_nav_col_sub" style="border:none;">
                                <ul>
                                <!-- BEGIN: ds2_nsx -->
                                    <li><a href="index.php?act=dt&id_nsx={id_nsx}">{ten_nsx}</a></li>
                               	<!-- END: ds2_nsx -->               
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                    	<a href="index.php?act=mtb"><h3>MÁY TÍNH BẢNG</h3></a>
                        <div class="home_nav_col">
                        	<div class="home_nav_col_sub">
                                <ul>
                               	<!-- BEGIN: ds3_nsx -->
                                    <li><a href="index.php?act=mtb&id_nsx={id_nsx}">{ten_nsx}</a></li>
                               	<!-- END: ds3_nsx -->
                                </ul>
                            </div>
                            <div class="home_nav_col_sub" style="border:none;">
                                <ul>
                               	<!-- BEGIN: ds4_nsx -->
                                    <li><a href="index.php?act=mtb&id_nsx={id_nsx}">{ten_nsx}</a></li>
                               	<!-- END: ds4_nsx -->
                                </ul>
                            </div>
						</div>
                    </li>
					<li>
                    	<a href="index.php?act=pk"><h3>PHỤ KIỆN</h3></a>
                        <div class="home_nav_col">
                        	<div class="home_nav_col_sub">
                                <ul>
                                <!-- BEGIN: ds1_dm_pk -->
                                    <li><a href="index.php?act=pk&id_dm_pk={id_dm_pk}">{ten_dm_pk}</a></li>
                               	<!-- END: ds1_dm_pk -->
                                </ul>
                            </div>
                            <div class="home_nav_col_sub" style="border:none;">
                                <ul>
                                <!-- BEGIN: ds2_dm_pk -->
                                    <li><a href="index.php?act=pk&id_dm_pk={id_dm_pk}">{ten_dm_pk}</a></li>
                               	<!-- END: ds2_dm_pk -->               
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                    	<a href="index.php?act=spk"><h3>SẢN PHẨM KHÁC</h3></a>
                        <div class="home_nav_col2">
                            <div class="home_nav_col_sub2">
                                <ul>
                                <!-- BEGIN: dm_spk -->
                                    <li><a href="index.php?act=spk&id_dm_spk={id_dm_spk}">{ten_dm_spk}</a></li>
                               	<!-- END: dm_spk -->
                                </ul>                                    
                            </div> 
                        </div>
                    </li>
                    <li>
                    	<a href="index.php?act=khuyenmai"><h3>KHUYẾN MÃI</h3></a>
                    </li>
                    <li>
                    	<a href="index.php?act=tintuc"><h3>TIN TỨC</h3></a>
                    </li>
                    <li>
                    	<a href="admin/index.php?act=tk"><h3>QUẢN lÍ</h3></a>
                    </li>
                </ul>
            </nav>
</header>
<!-- END: header -->