<!-- BEGIN: home_slides -->
<section class="home_slides">
    <section class="home_slides_img">
         
    </section>
    <section class="home_slides_news">
        <div class="home_slides_news_top">
            <a href="index.php?act=tintuc"><h1>TIN CÔNG NGHỆ</h1></a>
        </div>
        <marquee direction="up" loop="-1" scrollamount="5" onmouseover="this.stop()" onmouseout="this.start()" behavior="scroll">
            <!-- BEGIN: ds_tt -->
            <div class="home_slides_news_row">
                <div class="home_slides_news_row_left">
                    <a href="index.php?act=show_tt&id={id}">{tieu_de} </a>
                    <div>{ngay_dang}</div>
                </div>
                <div class="home_slides_news_row_right">
                    <img src="img/tintuc/{anh_tt}">
                </div>
            </div><br>
        	<!-- END: ds_tt -->
        </marquee>
    </section>
</section>
<!-- END: home_slides -->