<!-- BEGIN: spk -->
    <div class="content_main_block">
    <!-- BEGIN: block -->
        <h4><a href="index.php?act={act}">{title}</a></h4>
        <div class="content_main_block_list">
        <!-- BEGIN: list_spk -->
            <div class="content_main_block_list_sp">
                <a href="index.php?act=chitiet_spk&id_spk={id}"><img src="img/spk/{anh_spk}"></a>
                <h4>{ten_spk}</h4>
                <h6>{gia_spk}</h6>
            </div>
      	<!-- END: list_spk -->
        	<div class="content_main_block_list_next">
                <h4><a href="index.php?act={act}">{end}</a></h4>
            </div>
        </div>
        <!-- BEGIN: sotrang -->
        <a href="index.php?act={act}&page={stt}">{stt}</a>
    	<!-- END: sotrang -->
   	<!-- END: block -->
    </div>
<!-- END: spk -->