<!-- BEGIN: main_admin -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" rel="stylesheet" href="css/admin.css">
<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
</head>

<body>
	<section class="main">
    	<div class="left">
            <ul>
                <li style="{tai_khoan}"><a href="index.php?act=tk">Tài khoản</a></li>
                <li style="{san_pham}"><a href="index.php?act=sp">Sản phẩm</a></li>
                <li style="{nsx}"><a href="index.php?act=nsx">Nhà sản xuất</a></li>
                <li style="{pk}"><a href="index.php?act=pk">Phụ kiện</a></li>
                <li style="{dm_pk}"><a href="index.php?act=dm_pk">Danh mục PK</a></li>
                <li style="{spk}"><a href="index.php?act=spk">Sản phẩm khác</a></li>
                <li style="{dm_spk}"><a href="index.php?act=dm_spk">Danh mục SPK</a></li>
                <li style="{tin_tuc}"><a href="index.php?act=tt">Tin tức</a></li>
                <li style="{mua_hang}"><a href="index.php?act=mh">Mua hàng</a></li>
            </ul>
        </div>
        
        <div class="right">
			{content}
        </div>
    </section>

</body>
</html>
<!-- END: main_admin -->