<!-- BEGIN: edit_spk -->
	<h3>{title}</h3>
	<form method="post" action="index.php?act={act}" enctype="multipart/form-data" name="">
        <div class="rows">
            <label>Tên sản phẩm</label>
            <input type="text" name="ten_spk" value="{ten_spk}">
        </div>
        <div class="rows">
                    <label>Thuộc</label>
                    <select name="dm">
                    	<option>Danh mục</option>
                   	<!-- BEGIN: select_dm -->
                        <option value="{id_dm_spk}" {selected}>{ten_dm_spk}</option>
                    <!-- END: select_dm -->
                    </select>
                </div>
        <div class="rows">
            <label>Giá sản phẩm</label>
            <input type="text" name="gia_spk" value="{gia_spk}">
        </div>
        <div class="rows">
            <label>Ảnh</label>
            <input type="file" name="anh_spk" value="">
        </div>
        <div class="rows">
            <label>Tình trạng</label>
            <input type="text" name="tinh_trang" value="{tinh_trang}">
        </div>
        <div class="rows">
            <label>Màu sắc</label>
            <input type="text" name="mau_sac" value="{mau_sac}">
        </div>
        <div class="rows">
            <label>Thiết kế</label>
            <input type="text" name="thiet_ke" value="{thiet_ke}">
        </div>
        <div class="rows">
            <label>Sử dụng</label>
            <input type="text" name="su_dung" value="{su_dung}">
        </div>
        <div class="rows">
            <label>Bảo hành</label>
            <input type="text" name="bao_hanh" value="{bao_hanh}">
        </div>
        <div class="rows">
            <label>Xuất xứ</label>
            <input type="text" name="xuat_xu" value="{xuat_xu}">
        </div>
        <div class="rows">
            <label>Ảnh 1</label>
            <input type="file" name="anh1" value="">
        </div>
        <div class="rows">
            <label>Miêu tả 1</label>
            <input type="text" name="p1" value="{p1}">
        </div>
        <div class="rows">
            <label>Ảnh 2</label>
            <input type="file" name="anh2" value="">
        </div>
        <div class="rows">
            <label>Miêu tả 2</label>
            <input type="text" name="p2" value="{p2}">
        </div>
        <div class="rows">
            <label>Ảnh 3</label>
            <input type="file" name="anh3" value="">
        </div>
        <div class="rows">
            <label>Miêu tả 3</label>
            <input type="text" name="p3" value="{p3}">
        </div>
        <div class="rows">
            <label>Ảnh 4</label>
            <input type="file" name="anh4" value="">
        </div>
        <div class="rows">
            <label>Miêu tả</label>
            <input type="text" name="p4" value="{p4}">
        </div>
        <div class="rows">
            <label></label>
            <input type="submit" name="submit" value="submit">
        </div>
   	</form>
<!-- END: edit_spk -->

<!-- BEGIN: list_spk --><script language="javascript">
	function checkall(){
		var check_all = document.getElementById("check_all");
		var check = document.getElementsByClassName("check");
		if(check_all.checked==true) for(i=0;i<check.length;i++) check[i].checked=true;
			else for(i=0;i<check.length;i++) check[i].checked=false;
	}
	function xoa_all(){
		var obj = document.getElementsByName("check[]");
		var isChecked=false;
		for(i=0;i<obj.length;i++)	
			if(obj[i].checked)
			{
				isChecked=true;
			}	
		if(!isChecked)
		{
			alert('Bạn chưa chọn mục nào');
			return false;
		}
		else
		{
			document.frm.submit();
			return true;
		}
	}
</script>
    <h3>{title}</h3>
<form name="frm" method="post" action="index.php?act=del_all_spk">
    <div class="thao_tac">
    	<h4><a href="index.php?act=spk_add">Thêm sản phẩm</a></h4>
        <h4><a href="#" onclick="xoa_all()">Xóa mục đã chọn</a></h4>
    </div>
	<table width="650" border="1" cellspacing="0">
    	<tr>
        	<td width="50">STT</td>
            <td width="150px">Tên Sản phẩm</td>
            <td width="150px">Giá Sản phẩm</td>
            <td width="150px">Ảnh đại diện</td>
            <td colspan="2">Thao tác</td>
            <td width="50px"><input type="checkbox" id="check_all" name="check_all" onclick="checkall();">All</td>
        </tr>
 	<!-- BEGIN: in_ra -->
    	<tr>
        	<td>{stt}</td>
            <td>{ten_spk}</td>
            <td>{gia_spk}</td>
            <td><img src="../img/spk/{anh_spk}"></td>
            <td width="50px"><a href="index.php?act=spk_edit&id={id}"><img src="../img/Editing-Edit-icon.png"></a></td>
            <td width="50px"><a href="index.php?act=del_spk&id={id}"><img src="../img/black-white-metro-delete-icon.png"></a></td>
            <td><input type="checkbox" name="check[]" value="{id}" class="check"></td>
        </tr>
    <!-- END: in_ra -->
    </table>
    <div class="page">
    <!-- BEGIN: so_trang --> 
        <a href="index.php?act=spk&page={stt}" style="background:{page};" >{stt}</a>
  	<!-- END: so_trang -->
    </div>
</form>
<!-- END: list_spk -->